{% extends 'base.html' %}
{% load static %}
{% block style %}
    {{ block.super }}
    <link href="../static/styles/aboutContentStyles.css?1044" rel="stylesheet">
{% endblock %}
{% block script %}
    {{ block.super }}
    <script src="../static/scripts/aboutScript.js/?77"></script>
{% endblock %}
{% block main_content %}
        <div class="main-content">
            <p>Всем читателям блога - цифровой привет!</p>
            <p>
                Наш блог - о компьютерных науках, о новостях из мира IT, о помощи при выборе комплектующих... Вкратце -
                компьютеры - это наша слабость. :) На сайте можно ежедневно наблюдать новый новостной контент, мы
                стараемся отбирать самые важные события, связанные с цифровой техникой.
            </p>
            <p>Авторы блога - два скромных парня из Волгограда.</p>
            <p>
                Артем: "На данный момент я обучаюсь на третьем курсе "НИУ "МЭИ" на направлении "Информатика и вычислительная
                техника", благодаря мне этот сайт и явился на свет. Так как в университете я изучаю компьютерные науки,
                начиная от схемотехники и заканчивая микропроцессорными системы, у меня есть отличные знания в этой области,
                и я без труда расскажу о том, как в Вашем системном блоке работают память, процессор и прочие устройства.
                Но в основном амплуа я все же являюсь программистом. Сферы интереса в программировании: WEB (основное),
                Data Science (основное), мобильная разработка. Языки программирования: Python (основное), C# (основное),
                Java, PHP, JS".
            </p>
            <p>
                Костя: "" (прим. Артема: этот человек мне подсказывал, как лучше оформить сайт в плане дизайна)
            </p>
        </div>
        <!-- Script helping to display the page correctly -->
        <script>
            let height = window.innerHeight;
            let main_content = document.getElementsByClassName('main-content')[0];
            main_content.style.height = 'auto';
            if (main_content.scrollHeight <= height - 150) {
                main_content.style.height = height - 150 + 'px';
            }
        </script>
{% endblock %}